<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <main>
        <section class="carouselle">
            <h1 class="title">Challenge Triple A</h1>
            <h3 class="second-title">Administration, Affichage, Algorithmique</h3>
            <a href="http://127.0.0.1:5000/dashboard">Dashboard</a>
        </section>
        <h1 class="title-section">Informations système générales</h1>
        <article class="about">

            <div class="images">
                <img src="../images/com_4-removebg-preview.png" alt="">
            </div>
            <div class="information">
                <h4>les informations de la machine :</h4>

                <p>➔ Nom de la machine : {{ data.hostname }}</p>  
                <p>➔ Système d'exploitation (distribution et version) : {{ data.os_info }}</p>
                <p>➔ Heure de démarrage du système : {{ data.boot_time }}</p>
                <p>➔ Temps écoulé depuis le démarrage (uptime) : {{ data.uptime_formatted }}</p>
                <p>➔ Nombre d'utilisateurs connectés : {{ data.num_users }}</p>
                <p>➔ Adresse IP principale : {{ data.main_ip }}</p>
            </div>
        </article>
    </main>
</body>

</html>